@model IEnumerable<eIdeas.Models.Idea>

@{
    ViewData["Title"] = "Ideas";
}

<h1 class="display-2">Ideas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-controller="Ideas" asp-action="Index" method="get">
    <p>
        <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
                <select name="SearchFilter" class="btn btn-primary dropdown-toggle">
                    <option value="" selected disabled hidden>Filter</option>
                    <option value="ID">Idea Number</option>
                    <option value="Pending">Pending Ideas</option>
                    <option value="Plan">Planning Ideas</option>
                    <option value="Do">Do Ideas</option>
                    <option value="Check">Check Ideas</option>
                    <option value="Act">Act Ideas</option>
                    <option value="Park">Parked Ideas</option>
                    <option value="Abandon">Abandoned Ideas</option>
                    <option value="Subscribed">Subscribed</option>
                    <option value="TeamMember">By Team Member</option>
                    <option value="TeamName">By Team Name</option>
                </select>
            </div>
            <input type="text" name="SearchString" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <!--
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th></th>
        </tr>
        -->
        <h2>All Ideas</h2>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <!--
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @if (item.Name == User.Identity.Name)
                {<a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details|</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                }
            </td>
        </tr>
        -->
        
        <div class="w3-container">
            <!--this first row provides padding for the submissions-->
            <tr><td></td></tr>
            <tr><td>@Html.DisplayFor(modelItem => item.Name)</td></tr>
            <tr><td>@Html.DisplayFor(modelItem => item.Title)</td><td></td><td>@Html.DisplayFor(modelItem => item.ID)</td></tr>
            <tr><td><p>Status:</p></td><td>@Html.DisplayFor(modelItem => item.Status)</td></tr>
            <tr>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Plan")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                <span class="sr-only">40% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Do")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Check")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Act")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Park")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    }
                    else if (item.Status == "Abandon")
                    {
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr><td><textarea rows="4" cols="50">enter a comment</textarea></td></tr>
            <tr><td><button type="button" onclick="alert('your comment has been submited')">Submit Comment</button></td></tr>
            <tr>
                <td>
                    @if (item.Name == User.Identity.Name)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.ID">Details|</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }
                </td>
            </tr>
        </div>
}
    </tbody>
</table>