@inject SignInManager<eIdeasUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="list-group">
    <a asp-page="./Index" class="@ManageNavPages.IndexNavClass(ViewContext) list-group-item list-group-item-action">Profile</a>
    <a id="change-password" asp-page="./ChangePassword" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) list-group-item list-group-item-action">Password</a>
    @if (hasExternalLogins)
    {
        <a id="external-login" asp-page="./ExternalLogins" class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) list-group-item list-group-item-action">External logins</a>
    }
    <a asp-page="./TwoFactorAuthentication" class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) list-group-item list-group-item-action">Two-factor authentication</a>
    <a asp-page="./PersonalData" class="@ManageNavPages.PersonalDataNavClass(ViewContext) list-group-item list-group-item-action">Personal data</a>
</div>