@model eIdeas.Models.Like
@using Microsoft.AspNetCore.Identity
@using eIdeas.Areas.Identity.Data
@inject SignInManager<eIdeasUser> SignInManager
@inject UserManager<eIdeasUser> UserManager

@if (Model != null)
{
<form asp-controller="Like" asp-action="LikeIdea" name="formName">
    <input type="hidden" name="LikeID" value="@Model.LikeID" />
    <input type="hidden" name="Liked" value="@Model.Liked.ToString()" />
    <input type="hidden" name="IdeaID" value="@Model.IdeaID" />
    <img id="btnJson" value="Like" src="~/images/svg/thumb-up.svg" alt="ASP.NET" onclick="document.forms['formName'].submit();" />
</form>
 @ViewData["LikeCount"]
}
else
{

    <form asp-controller="Like" asp-action="LikeIdea" name="formName">
        <input type="hidden" name="IdeaID" value="@ViewData["id"]" />
        <input type="hidden" name="Liked" value="false" />
        <img id="btnJson" value="Like" src="~/images/svg/thumb-up.svg" alt="ASP.NET" onclick="document.forms['formName'].submit();" />
    </form>
    @ViewData["LikeCount"]
}

